<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/header.css" />

    <!-- Incluir os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    #myHeader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #1F365C;
        /* Adicione a cor de fundo desejada */
        z-index: 100;
        /* Certifique-se de que o cabeçalho esteja na parte superior */
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .small-container {
        display: flex;
        align-items: center;
    }

    .small-container img {
        margin-right: 10px;
    }
</style>

<body>
    <header id="myHeader">
        <div class="container">
            <img src="/assets/ucsal.svg" alt="Logo Ucsal" />
            <div class="small-container">
                <img src="/assets/bell.svg" alt="Sino Notificação" width="30" height="30" />
                <img src="/assets/profile.svg" alt="Perfil" width="50" height="50" />
            </div>
        </div>
    </header>
    <section>
        <form method="post" action="/cadastro">
            <center>
                <p class="title">Cadastro Ficha Tecnica</p>
                <fieldset>
                    <div class="col-md-6">
                        <input placeholder="Alergias" name="nome" type="text" class="form-control" id="nome"
                            maxlength="50" required>
                    </div>
                    <div class="col-md-6">
                        <input placeholder="Exames Fisicaos" name="email" type="email" class="form-control" id="email"
                            maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-5">
                        <input placeholder="Altura" type="text" class="form-control" id="telefone" maxlength="50"
                            required>
                    </div>
                </fieldset>
                <h3>Sinais vitais</h3>
                <fieldset>
                    <div class="col-md-6">
                        <input name="Frequência Respiratória - FR" id="Frequência Respiratória - FR" type="text"
                            class="form-control" placeholder="Frequência Respiratória - FR" maxlength="15" required>
                    </div>
                    <div class="col-md-6">
                        <input name="Pressão Arterial - PA" id="local" type="text" class="form-control"
                            placeholder="Pressão Arterial - PA" maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <input name="Frequência Cardíaca - FC" id="Frequência Cardíaca - FC" type="text"
                            class="form-control" placeholder="Frequência Cardíaca - FC" maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <input name="Temperatura" id="Temperatura" type="text" class="form-control"
                            placeholder="Temperatura" maxlength="50" required>
                    </div>
                    <div class="col-md-6">
                        <input name="Saturação" id="Saturação" type="text" class="form-control" placeholder="Saturação"
                            maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-2">
                        <input placeholder="Dor" type="text" class="form-control" id="Dor" maxlength="50" required>
                    </div>
                    <div class="col-md-2">
                        <input placeholder="Glicemia Capilar" type="text" class="form-control" id="Dor" maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-2">
                        <input placeholder="COMORBIDADES" type="text" class="form-control" id="COMORBIDADES" maxlength="50" required>
                    </div>
                    <div class="col-md-2">
                        <input placeholder="Glicemia Capilar" type="text" class="form-control" id="Glicemia Capilar" maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div>
                        <button id="bt" type="submit" class="btn" onclick="complete()">Agendar</button>
                    </div>
                    <!-- <div class="alert alert-danger" role="alert" th:if="${msg}"> <strong th:text="${msg}"></strong> -->
                    </div>
                </fieldset>
            </center>
        </form>
    </section>

    <!-- Incluir os arquivos JavaScript do Bootstrap (opcional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>