<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/header.css" />

    <!-- Incluir os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<style>
    #myHeader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #1F365C;
        /* Adicione a cor de fundo desejada */
        z-index: 100;
        /* Certifique-se de que o cabeçalho esteja na parte superior */
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .small-container {
        display: flex;
        align-items: center;
    }

    .small-container img {
        margin-right: 10px;
    }
</style>

<body>
<script th:src="@{assets/inputmask/jquery.inputmask.min.js}"></script>
<script>
    $(":input").inputmask();
</script>
    <header id="myHeader">
        <div class="container">
            <img src="/assets/ucsal.svg" alt="Logo Ucsal" />
            <div class="small-container">
                <img src="/assets/bell.svg" alt="Sino Notificação" width="30" height="30" />
                <img src="/assets/profile.svg" alt="Perfil" width="50" height="50" />
            </div>
        </div>
    </header>
    <section>
        <form method="post" th:action="@{/cadastarDados}" >
            <center>
                <p class="title">Dados do Paciente</p>
                <fieldset>
                    <div class="col-md-6">
                        <input placeholder="Nome" name="nome" type="text" class="form-control" id="nome" maxlength="50"
                            required>
                    </div>
                    <div class="col-md-6">
                        <input placeholder="Email" name="email" type="email" class="form-control" id="email"
                            maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-5">
                        <input placeholder="Telefone" name="telefone" type="text" class="form-control" id="telefone" maxlength="50"
                               >
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-5">
                        <input placeholder="Curso" name="curso" type="text" class="form-control" id="curso" maxlength="50"
                            required>
                    </div>
                    <label>Data Nascimento</label>
                    <div class="col-md-5">
                        <input placeholder="Data Nascimento" name="data_nascimento" type="date" class="form-control" id="data_nascimento"
                            maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-5">
                        <input placeholder="Colaborador" name="colaborador" type="text" class="form-control" id="colaborador"
                            maxlength="50" required>
                    </div>
                    <div class="col-md-5">
                        <input placeholder="Externo" name="externo" type="text" class="form-control" id="externo" maxlength="50"
                            required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <input name="cep" id="cep" type="text"  class="form-control" placeholder="cep" maxlength="15"
                            required>
                    </div>
                    <div class="col-md-6">
                        <input name="endereco" id="local" type="text" class="form-control" placeholder="endereço"
                            maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <input name="cidade" id="cidade" type="text" class="form-control" placeholder="cidade"
                            maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <input name="bairro" id="bairro" type="text" class="form-control" placeholder="bairro"
                            maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-2">
                        <input placeholder="Número" name="numero" type="text" class="form-control" id="numero" maxlength="50"
                            required>
                    </div>
                </fieldset>
                <p class="title">Dados do Agendamento</p>
                <div id="emailHelp" class="form-text">Serão confimardos agendamentos apenas de Segunda à Sábado das
                    8:00 às 17:00</div>
                <fieldset>
                    <div id="container" class="col-md-4">
                        <label for="formGroupExampleInput2" class="form-label">Data</label>
                        <input name="data" type="date" class="form-control" id="data" required>
                    </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div id="container" class="col-md-2">
                        <label for="formGroupExampleInput2" class="form-label">Hora</label>
                        <input name="hora" type="time" class="form-control" id="hora" required>
                    </div>
                </fieldset>

                <fieldset>
                    <div>
                        <button id="bt" type="submit" class="btn" onclick="complete()">Agendar</button>
                    </div>
                    <!-- <div class="alert alert-danger" role="alert" th:if="${msg}"> <strong th:text="${msg}"></strong> -->
                    </div>
                </fieldset>
            </center>
        </form>
    </section>

    <!-- Incluir os arquivos JavaScript do Bootstrap (opcional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>