<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org%22%3E">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/header.css" />

    <!-- Incluir os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .custom-bg-color {
      background-color: #1F365C;
      width: 100% !important;
    }
    body {
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
        align-items: center !important;
    }
  </style>

<body>
    <nav class="navbar navbar-expand-lg custom-bg-color">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/"><img src="/assets/ucsal.svg" alt="Logo Ucsal" /></a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
            </ul>
    
            <form class="d-flex" role="search">
              <h4><a href="/logout" class="btn btn-outline-danger">Logout</a></h4>
            </form>
    
    
    
          </div>
      </nav>
    <section>

        <form method="post" th:action="@{'/cadastroFicha/' + ${id}}">

            <center>
                <p class="title">Cadastro Ficha Tecnica</p>
                <fieldset>
                    <div class="col-md-6">
                        <input placeholder="Alergias" name="alergia"  type="text" class="form-control" id="alergias"
                            maxlength="50" required>
                    </div>
                    <div class="col-md-6">
                        <input placeholder="Exames Fisicos" name="exames_fisicos" type="text" class="form-control" id="exames_fisicos"
                            maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <input placeholder="Altura" name="altura" type="text" class="form-control" id="altura" maxlength="50"
                            required>
                    </div>
                </fieldset>
                <h3>Sinais vitais</h3>
                <fieldset>
                    <div class="col-md-6">
                        <input name="frequencia_respiratoria" id="frequencia_respiratoria" type="text"
                            class="form-control" placeholder="Frequência Respiratória" maxlength="15" required>
                    </div>
                    <div class="col-md-6">
                        <input name="pressao_arterial" id="pressao_arterial" type="text" class="form-control"
                            placeholder="Pressão Arterial - PA" maxlength="15" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <input name="frequencia_cardiaca" id="frequencia_cardiaca" type="text"
                            class="form-control" placeholder="Frequência Cardíaca - FC" maxlength="50" required>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <input name="temperatura" id="temperatura" type="text" class="form-control"
                            placeholder="Temperatura" maxlength="50" required>
                    </div>
                    <div class="col-md-6">
                        <input name="saturacao" id="saturacao" type="text" class="form-control" placeholder="Saturação"
                            maxlength="50" required>
                    </div>
                    <div class="col-md-6">
                        <input placeholder="Glicemia Capilar" name="glicemia_capilar" type="text" class="form-control" id="glicemia_capilar" maxlength="50" required>
                    </div>
                    <div class="col-md-6">
                        <input placeholder="Dor" name="dor" type="text" class="form-control" id="dor"  required>
                    </div>
                    <br>
                </fieldset>
                <fieldset>
                </fieldset>
                <fieldset>
                    <div class="col-md-6">
                        <textarea placeholder="Comorbidades" name="comorbidades" type="text" class="form-control" id="comorbidades"
                                  maxlength="100" required></textarea>
                    </div>

                </fieldset>
                <fieldset>
                    <div>
                        <button id="bt" type="submit" class="btn">Salvar</button>
                    </div>
                    <!-- <div class="alert alert-danger" role="alert" th:if="${msg}"> <strong th:text="${msg}"></strong> -->
                    </div>
                </fieldset>
            </center>
        </form>

    </section>

    <!-- Incluir os arquivos JavaScript do Bootstrap (opcional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</body>

</html>